mixin head()
  meta(charset='utf-8')
  title= title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //- meta(name='HandheldFriendly' content='true')
  meta(name='robots' content='index,follow')
  meta(name='referrer' content='no-referrer')
  meta(name='format-detection' content='telephone=no')
  meta(name='description' content='')

  meta(property='og:type' content='article')
  meta(property='og:site_name' content='«')
  meta(property='og:title' content='')
  meta(property='og:description' content='')
  meta(property='og:image' content='')
  meta(name='twitter:card' content='summary_large_image')

  //- link(rel='preload' href='../../static/fonts/' as='font' type='font/woff2' crossorigin)
  //- link(rel='preload' href='../../static/fonts/' as='font' type='font/woff' crossorigin)

  link(href=require('@static/scss/styles.scss') rel='stylesheet')
  //- link(href=require('@static/scss/plugins.scss') rel='stylesheet')

  link(rel='icon' href=require('@static/img/favicon.png') sizes='32x32')
  //- link(rel='manifest' href='manifest.json')

  //- link(rel='canonical' href= hrefCanonical)

  +scripts
  if block
    block

mixin scripts()
  script(src=require('@static/js/main.js') defer)
